@font-face {
    font-family: LuckiestGuy;
    src: url(../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

.titleBG{
    background-image: url(../assets/tomandjerrybg.png);
    height: 1080px;
    width: 1920px;
}

.titleLogo{
    height: 209px;
    width: auto;
    margin-top: 3%;
}

.titleText{
    margin-top: 3%;
    font-family: LuckiestGuy;
    font-size: 55px;
    color: #F82626;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.titleBtn{
    background-color: #000000;
    color: white;
    font-family: LuckiestGuy;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    width: 508px;
    font-size: 70px;
    height: 143px;
}

.difficultyBg{
    background-color: #FBD882;
}

.backBtn{
    background-color: #000000;
    color: white;
    font-family: LuckiestGuy;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    width: 298px;
    font-size: 55px;
    height: 84px;
}

.homeBtn{
    background-color: #000000;
    color: white;
    font-family: LuckiestGuy;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    width: 298px;
    font-size: 55px;
    height: 84px;
}

.rulesBtn{
    background-color: #000000;
    color: white;
    font-family: LuckiestGuy;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    width: 395px;
    font-size: 55px;
    height: 84px;
    margin-right: 4%;
}

.rulesTitle{
    font-family: LuckiestGuy;
    font-size: 70px;
    color: white;
}

.rulesText{
    font-family: LuckiestGuy;
    font-size: 50px;
    color: white;
}

.btn-close {
  color: white;
  opacity: 1;
}

.modal {
    position: absolute;
    left: -15%;
  }

.difficultyText{
    font-family: LuckiestGuy;
    font-size: 125px;
    color: #F82626;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    margin-top: 5%;
    margin-bottom: 3%;
}

.difficultyCardBox{
    background-color: #E96721;
    height: 527px;
    border: none;
    border-radius: 25px;
    width: 494px;
}

.difficultyImg{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 10%;
    margin-left: 17.65%;
}

.difficultyCardText {
    font-family: LuckiestGuy;
    font-size: 70px;
    color: white;
    margin-top: 5%;
}

.gameImg{
    width: 235px;
    height: 235px;
    border-radius: 235px;
    object-fit: cover;
}

.gameChoose{
    height: 131px;
    background-color: #F5C031;
    font-family: LuckiestGuy;
    font-size: 55px;
    border-radius: 25px;
    color: #000000;
}

.gameScore{
    height: 257px;
    background-color: #F5C031;
    font-family: LuckiestGuy;
    font-size: 100px;
    border-radius: 25px;
    color: #000000;
}

.gameText {
    font-family: LuckiestGuy;
    font-size: 55px;
    color: #000000;
}

.gameBtn{
    height: 202px;
    width: 202px;
    border-radius: 202px;
    object-fit: cover;
}